.container{
  border: 1px solid var(--borderColor);
  /* padding: 10px; */
  border-radius: 8px;
  width: 250px;
}
.radio, .checkbox, .rating{
  padding: 10px;
  font-size: 12px;
  color: var(--textColor);
}
.gapContainer{
  border:1px solid var(--borderColor);
  padding: 0;
}
.Title{
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
}