.container{
  border: 1px solid var(--borderColor);
  /* padding: 10px; */
  border-radius: 8px;
  width: 250px;
  /* position: fixed; */
  /* display: block; */
}
.inpRadio{
  /* display: flex; */
  margin: 8px 0;
}
.filter{
  padding: 10px;
  font-size: 12px;
  color: var(--textColor); 
  margin: 10px;
}
.gapContainer{
  border:1px solid var(--borderColor);
  padding: 0;
}
.Title{
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
}
